apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: database
  labels:
    app: wordpress
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 3306
  selector:
    app: wordpress
    tier: mysql
